* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    padding: 10px;
    color: #222;
    background-color: #f5f6f8;
  }


.container {
    justify-content: center;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }

  h1 { 
    font-weight: 400; 
    font-size: 1.6rem; 
    border-bottom: 1px solid #eee; 
    padding-bottom: 8px; 
    margin: 0 0 10px 0; 
    text-align: left;
    }
  
/* Column checkboxes */
#toggler {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    margin-bottom: 20px;
    padding: 12px;
  
    border: 1px solid #d8dde3;
    border-radius: 6px;
    background-color: white;
  }


/* Allows wide tables to scroll */
.table-wrapper {
    overflow-x: auto;
  }
  
#toggler label {
    display: flex;
    align-items: center;
    gap: 5px;
  
    padding: 5px 8px;
    font-size: 10px;
  
    border: 1px solid #e0e3e7;
    border-radius: 4px;
    background-color: #f8f9fa;
  }

table { 
    width: 100%;
    border-collapse: collapse;
  
    background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    }

th, td {
      padding: 2.5px 3.5px;
      border: 1px solid #d8dde3;
      text-align: center;
      vertical-align: middle;
      font-size: 0.85rem;
    }
    
thead th {
      color: white;
      background-color: #34495e;
      font-weight: 400;
    }
    
tbody th[scope="row"] {
      text-align: center;
      white-space: nowrap;
      background-color: #eef2f6;
      font-weight: 400;
    }

tbody tr:nth-child(even) td {
        background-color: #f8f9fa;
      }
      
tbody tr:hover td,
tbody tr:hover th {
        background-color: #eaf2f8;
      }

.hidden { 
    display: none !important; 
}

.col-nu {width:0px; overflow-wrap: anywhere;}
.col-mrnc, .col-stable, .col-conductor, .col-discriminant, .col-component, .col-components, .col-mrm-pic, .col-mrnc-fibre, .col-wild, .col-omega { width: 0px; } 
.col-mrnc-pic {width: 0px; max-width: 100%; height: 0px;margin: 0 auto;   padding: 30px 0px; overflow: visible;}


.special-fibre {
    display: block;
  
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
  
    margin: 0 auto;
  
    transform: scale(1.5);
    transform-origin: center;
  }